.header.flex-container-horz
    .header-left.flex-container-horz
        .header-logo
            a(href="/home").text-logo-header 
                span.text-logo-knowledge k
                span.text-logo-base b
        form(method="POST", action='/questions/search').header-search
            input(type="text" placeholder="Search" name="target").input-search
            .home-content-search-label-container
                p.home-content-search-label Search by topic
            .home-content-input-topics-container
                input(type="text" name="topic").hidden.hidden-element#hidden-input
                input(type="text" value="topic" name="tag" readonly).home-content-input-topics#topic-button-search
                .home-content-input-topics-content
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-php php
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-nodejs nodejs
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-java java
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-sql sql
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-zend zend
            input(type="submit" value="go ->").home-content-input-gobutton
    .header-right
        form(method='post' action='/users/logout')
            input(type="submit" value="logout").button.header-button-logout


                //-.home-content-inputs-search.flex-container-horz
                    .home-content-search-label-container
                        p.home-content-search-label Search by topic
                    .home-content-input-topics-container
                        button(type="text").home-content-input-topics#topic-button-search topic   ▼
                        .home-content-input-topics-content
                            a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-php php
                            a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-nodejs nodejs
                            a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-java java
                            a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-sql sql
                            a(onclick="selectTypeOfPost(this, \"topic-button-search\")").home-content-input-zend zend
                    input(type="submit" value="go ->").home-content-input-gobutton

//-.header.flex-container-horz
    .header-left.flex-container-horz
        .header-logo
            a(href="/home").text-logo-header 
                span.text-logo-knowledge k
                span.text-logo-base b
        form(method="POST", action='/questions/search').header-search
            input(type="text" placeholder="Search" name="searched").input-search
            .home-content-search-label-container
                p.home-content-search-label Search by topic
            //- need css work to do proper spacing and appearance here
            .home-content-input-topics-container
                button(name="subject").home-content-input-topics#topic-button-search topic   ▼
                .home-content-input-topics-content
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\", \"hidden-input\")").home-content-input-php php
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\", \"hidden-input\")").home-content-input-nodejs nodejs
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\", \"hidden-input\")").home-content-input-java java
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\", \"hidden-input\")").home-content-input-sql sql
                    a(onclick="selectTypeOfPost(this, \"topic-button-search\", \"hidden-input\")").home-content-input-zend zend
            input(name="subject").hidden.hidden-element#hidden-input
            input(type="submit" value="go ->").home-content-input-gobutton
    .header-right
        form(method='post' action='/users/logout')
            input(type="submit" value="logout").button.header-button-logout


    

    