extends layout

block content
    include header.pug

    //- Applying flex-container-horz to get the display flex instead of floating the divs 
    .home-content.flex-container-horz
        .home-content-left
            .home-user-preview
                img(src="https://www.w3schools.com/w3images/avatar2.png").user-image.home-image
                h3.home-user-name User Name
                p.home-user-bio Some kind of bio about the person here
                //- Add in the links for anchors here
                .home-user-clickables
                    ul.home-user-info.no-style-list
                        li.home-user-posts.flex-container-horz
                            a(href="") Posts
                            p.home-user-postCount 3
                        li.home-user-messages.flex-container-horz
                            a(href="/allmessages") Messages
                            p.home-user-messageCount 5
                        li.home-user-likes.flex-container-horz  
                            a(href="") Likes
                            p.home-user-likeCount 10
                        li.home-user-edit
                            a(href="") Edit Profile
        .home-content-right
            h1.home-allposts-title All posts
            //- His instructions are kinda unclear, is this supposed to show on click?
            //- What should it look like before the click?  
            include allquestions.pug 
