extends layout

block content
    include header.pug
    p hello world, welcome to the search results page
    ul this page will receive a json array of matching search results from database and populate a div with them
        li we will also load all of the replies, but set them to hidden
        li this will include a subsequent comment input form as the last 'reply'