extends layout

block content
    include header.pug
    p hello world, welcome to the message page
    ul here there is simply a simple form with subject, text box, and submit button
        li needs to send an email to the other user
        li messages must also be stored in database