extends layout

block content
    //-I originally had this in a separate signupHeader.pug file but since it's only ever used in the signup page it should be here
    ul.navbar.flex-container-vert
        li#navbar-left.left
            p.text-logo
                span.text-logo-knowledge knowledge
                span.text-logo-base Base
        li#navbar-login-inputs.navbar-right.right
            form(method="POST" action='/users/login')
                input#artist_input(type='text' placeholder="email" name="email_attempt" required="").input-email
                input#artist_input(type='password' placeholder="password" name="password_attempt" required="").input-password
                input#search_artist_btn(type="submit" value="Login").button
                
    
        //- first step
    form(method="POST", action='/users/signup')
        .signup-stepone.signup-content-firststep.signup
            .signup-content.flex-container-horz
                .signup-content-left
                    img(src="https://i.ibb.co/TLnFXX0/vector-knowledge.jpg").signup-content-img
                .signup-content-right
                    p.signup-content-slogan Join the world's largest community for knowledge sharing
                    .signup-content-inputs.flex-container-vert
                        .signup-content-name.flex-container-horz
                            input(type="text" placeholder="First Name" required="" name="firstname").signup-content-fname
                            input(type="text" placeholder="Last Name" required="" name="lastname").signup-content-lname
                        input(type="text" placeholder="Email" required="" name="email").signup-content-email
                        //- need to be type password but it breaks the styling
                        input(type="password" placeholder="Password" required="" name="password1").signup-content-password
                        input(type="password" placeholder="Confirm Password" required="" name="password2").signup-content-cpassword
                        //- this shouldn't trigger the form but does
                        button(onclick="showSecondStep()").signup-content-button.button signup

        //- Second step --Hidden by default, will remove hidden class on signup click from step 1
        //- now that it is required, the solution is accidentally hacked, requires the items on the second form so it stops and asks for that input
        .signup-steptwo.signup-content-secondstep
            .signup-content.flex-container-horz.squeeze-content
                .signup-content-left.squeeze-slogan
                    p.signup-content-slogan Let us know a little more about you
                .signup-content-right
                    .signup-content-inputs.flex-container-vert
                        //- WRAP IN A FORM TO GO TO ENDPOINT ON CLICK
                        input(type="text" placeholder="Image URL" required="" name="imageurl").signup-content-imageurl
                        input(type="text" placeholder="A Few Lines About Yourself ..." required="" name="about").signup-content-info
                        input(type="text" placeholder="Country" required="" name="country").signup-content-country
                        //- good for this to be a date but it breaks the styling
                        input(type="date" placeholder="Date of Birth (MM/DD/YYYY)" required="" name="dob").signup-content-dob
                        input(type="submit" value="Complete Registration").signup-content-button.buttonAlt

//- had to make the thing not hidden, for some reason clicking the button triggered the form when it shouldn't have
//- probably don't need everything to have it's own id, they're being accessed with the form via the 'name' part










//- extends layout

//- block content
    //-I originally had this in a separate signupHeader.pug file but since it's only ever used in the signup page it should be here
    ul.navbar.flex-container-vert
        li#navbar-left.left
            p.text-logo
                span.text-logo-knowledge knowledge
                span.text-logo-base Base
        li#navbar-login-inputs.navbar-right.right
            form(method="POST" action='/users/login')
                input#artist_input(type='text' placeholder="email" name="email_attempt" required="").input-email
                input#artist_input(type='password' placeholder="password" name="password_attempt" required="").input-password
                input#search_artist_btn(type="submit" value="Login").button
                
    
        //- first step
    form(method="POST", action='/users/signup')
        .signup-stepone.signup-content-firststep.signup
            .signup-content.flex-container-horz
                .signup-content-left
                    img(src="https://i.ibb.co/TLnFXX0/vector-knowledge.jpg").signup-content-img
                .signup-content-right
                    p.signup-content-slogan Join the world's largest community for knowledge sharing
                    .signup-content-inputs.flex-container-vert
                        .signup-content-name.flex-container-horz
                            input(type="text" placeholder="First Name" required="" name="firstname").signup-content-fname
                            input(type="text" placeholder="Last Name" required="" name="lastname").signup-content-lname
                        input(type="text" placeholder="Email" required="" name="email").signup-content-email
                        //- need to be type password but it breaks the styling
                        input(type="password" placeholder="Password" required="" name="password1").signup-content-password
                        input(type="password" placeholder="Confirm Password" required="" name="password2").signup-content-cpassword
                        //- this shouldn't trigger the form but does
                        button(onclick="showSecondStep()").signup-content-button.button signup

        //- Second step --Hidden by default, will remove hidden class on signup click from step 1
        //- now that it is required, the solution is accidentally hacked, requires the items on the second form so it stops and asks for that input
        .signup-steptwo.signup-content-secondstep.hidden
            .signup-content.flex-container-horz.squeeze-content
                .signup-content-left.squeeze-slogan
                    p.signup-content-slogan Let us know a little more about you
                .signup-content-right
                    .signup-content-inputs.flex-container-vert
                        //- WRAP IN A FORM TO GO TO ENDPOINT ON CLICK
                        input(type="text" placeholder="Image URL" required="" name="imageurl").signup-content-imageurl
                        input(type="text" placeholder="A Few Lines About Yourself ..." required="" name="about").signup-content-info
                        input(type="text" placeholder="Country" required="" name="country").signup-content-country
                        //- good for this to be a date but it breaks the styling
                        input(type="date" placeholder="Date of Birth (MM/DD/YYYY)" required="" name="dob").signup-content-dob
                        input(type="submit" value="Complete Registration").signup-content-button.buttonAlt

//- had to make the thing not hidden, for some reason clicking the button triggered the form when it shouldn't have
//- probably don't need everything to have it's own id, they're being accessed with the form via the 'name' part