extends layout

block content
    include header.pug
    .messages.flex-container-horz
        .messages-chats
            //- Inject chats here
            //- Here's an example for chat head structure
            //-each message in people
                form(method="GET", action='/messages/gettargetmessages/:' + message.userID)
                    div(onclick="javascript: document.form.submit();").messages-chat.flex-container-horz
                        .messages-chat-info.flex-container-horz
                            .messages-chat-info-left
                                img(src='"' + message.userImageURL + '"').user-image.chat-head-image
                            .messages-chat-info-right
                                input(type="submit" value=message.userFirstName + " " + message.userLastName).chat-name
                                p.chat-desc Fuck this guy
                        .messages-chat-date
                            p.messages-chat-date #{message.messageDate}
        .messages-chatbox.flex-container-vert
            //-each message in messages
                p i am a message saying : #{message.messageContent}
            .messages-chatbox-inputs
                .messages-chatbox-inputs-textarea
                    textarea(rows="4" cols="50" placeholder="Write a message...").message-input
                .messages-chatbox-inputs-sendarea
                    input(type="submit" value="Send").send-input.button