extends layout

block content
    //- This is where we would inject code for posters on right side of home page
    //- I'll make some dummy ones so we know the structure for later
    c
        .home-question.flex-container-horz
            .home-question-left
                img(src="https://www.w3schools.com/w3images/avatar2.png", alt="").question-image
            .home-question-right
                p.home-question-title.flex-container-horz Question title    
                    button.home-question-type.question-button zend
                p.home-question-content This is me asking a question but it's not an actual question because this is just placeholder text and why are you still reading this lol ok bye thanks?
                p.home-question-date.flex-container-horz 11 sep 2019
                    a.home-question-replies-button(onclick="showReplies(this)") 2 replies
                //- This is what shows on replies click
                .home-question-replies.flex-container-vert.hidden
                    //- Injecting replies STARTS here
                    .home-question-replies-reply.flex-container-horz
                        .reply-img-container
                            img(src="https://www.w3schools.com/w3images/avatar3.png", alt="").reply-image
                        .reply-textcontent-container
                            p.reply-textcontent Yes this is me replying to your question, quite a nice question if I do say so myself mhmm, yes ok nice goodbye.
                    .home-question-replies-reply.flex-container-horz
                        .reply-img-container
                            img(src="https://www.w3schools.com/w3images/avatar4.png", alt="").reply-image
                        .reply-textcontent-container
                            p.reply-textcontent Yes this is me replying to your question, quite a nice question if I do say so myself mhmm, yes ok nice goodbye.
                    //- Injecting replies ENDS here
                    .home-questions-replies-inputs.flex-container-vert
                        textarea(cols="40", rows="5" placeholder="add your reply...").reply-input-content
                        input(type="submit", value="comment").reply-input-submit.button
        .home-question.flex-container-horz
            .home-question-left
                img(src="https://www.w3schools.com/w3images/avatar2.png", alt="").question-image
            .home-question-right
                p.home-question-title.flex-container-horz Question title    
                    button.home-question-type.question-button java
                p.home-question-content This is me asking a question but it's not an actual question because this is just placeholder text and why are you still reading this lol ok bye thanks?
                p.home-question-date.flex-container-horz 11 sep 2019
                    a.home-question-replies-button(onclick="showReplies(this)") 3 replies
                //- This is what shows on replies click
                .home-question-replies.flex-container-vert.hidden
                    //- Injecting replies STARTS here
                    .home-question-replies-reply.flex-container-horz
                        .reply-img-container
                            img(src="https://www.w3schools.com/w3images/avatar3.png", alt="").reply-image
                        .reply-textcontent-container
                            p.reply-textcontent Yes this is me replying to your question, quite a nice question if I do say so myself mhmm, yes ok nice goodbye.
                    .home-question-replies-reply.flex-container-horz
                        .reply-img-container
                            img(src="https://www.w3schools.com/w3images/avatar5.png", alt="").reply-image
                        .reply-textcontent-container
                            p.reply-textcontent Yes this is me replying to your question, quite a nice question if I do say so myself mhmm, yes ok nice goodbye.
                    .home-question-replies-reply.flex-container-horz
                        .reply-img-container
                            img(src="https://www.w3schools.com/w3images/avatar4.png", alt="").reply-image
                        .reply-textcontent-container
                            p.reply-textcontent Yes this is me replying to your question, quite a nice question if I do say so myself mhmm, yes ok nice goodbye.
                    //- Injecting replies ENDS here
                    .home-questions-replies-inputs.flex-container-vert
                        textarea(cols="40", rows="5" placeholder="add your reply...").reply-input-content
                        input(type="submit", value="comment").reply-input-submit.button
        .home-question.flex-container-horz
            .home-question-left
                img(src="https://www.w3schools.com/w3images/avatar2.png", alt="").question-image
            .home-question-right
                p.home-question-title.flex-container-horz Question title    
                    button.home-question-type.question-button sql
                p.home-question-content This is me asking a question but it's not an actual question because this is just placeholder text and why are you still reading this lol ok bye thanks?
                p.home-question-date.flex-container-horz 11 sep 2019
                    a.home-question-replies-button(onclick="showReplies(this)") 1 replies
                //- This is what shows on replies click
                .home-question-replies.flex-container-vert.hidden
                    //- Injecting replies STARTS here
                    .home-question-replies-reply.flex-container-horz
                        .reply-img-container
                            img(src="https://www.w3schools.com/w3images/avatar3.png", alt="").reply-image
                        .reply-textcontent-container
                            p.reply-textcontent Yes this is me replying to your question, quite a nice question if I do say so myself mhmm, yes ok nice goodbye.
                    //- Injecting replies ENDS here
                    .home-questions-replies-inputs.flex-container-vert
                        textarea(cols="40", rows="5" placeholder="add your reply...").reply-input-content
                        input(type="submit", value="comment").reply-input-submit.button