form(method='post' action='/users/logout').headerForm
    div#headerDiv Logged in as:  #{ emailData }
    input(type="submit" value="logout").standard_button.btn-secondary
br
p *** I am aware of the 'Final Countdown' app and yes I was inspired by it.  This is a non commercial learning project.
