extends layout

block content
    include header.pug
    p #{ messageData }
        form(method="POST" action='/entries/add_entry')
            input(type='text' placeholder="entry name" name="new_entry_name" required="")
            input(type='datetime-local' name="new_entry_date" required="")
            input(type="submit" value="Add Entry")
    h1 FINAL COUNTDOWN
