doctype html
html
  head
    title Final Countdown
    link(href='https://fonts.googleapis.com/css?family=Nunito&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')
    script(src='/javascripts/client_global.js' defer='')
  body
    block content
