extends layout

block content
    include header.pug
    p hello world, welcome to the login page
    ul here we need to have:
        li float left div
        li float right div
            ul (form)
                li (input) first name
                li (input) last name
                li (input) email
                li (input) password
                li (input) password confirm
                li (submit) signup button
    h5 a tricky thing here will be forwarding this information to the login page