extends layout

block content
    include header.pug
    p hello world, welcome to the question page
    p it's not explicitly stated, but thre requirements suggest the need for a page with the original question at the top, and all of the replies underneath
