extends layout

block content
    include header.pug
    p hello world, welcome to the update user page
    p as mentioned, there will need to be a page which populates user data and offers fields to update values